@font-face {
  font-family: 'Roblox';
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: rgb(250, 251, 251);
  margin: 0;
  padding: 0;
  font-family: 'Roblox';
  color: rgb(0, 0, 0);
  
}

.App {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.some {
  color: white;
}

.back {
  color: white;
}

.todo__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.todo_quest {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  margin-top: 20px;
}

.form-label {
  margin-bottom: 2px;
  font-weight: bold;
}

.form-input {
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgb(100, 87, 87);
  border-radius: 8px;
}

.form-submit-button {
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #d44b11;
}

.rr {
  width: 100%;
}

.game__container {
  border-radius: 8px;
  border-color: #45a049;
}

.form-container {
}

.btn {
  text-align: end;
}

.gsl {
  text-align: center;
}

#add_task_btn{
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}