@font-face {
  font-family: 'Roblox';
  font-style: normal;
  font-weight: 700;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.themeBtn {
  min-width: 100px;
  margin-right: 1vw;
}
.stub {
  margin-left: 50px;
  min-width: 100px;
}

body {
  /* background-color: rgb(250, 251, 251); */
  margin: 0;
  padding: 0;
  font-family: 'Roblox';
  /* color: rgb(0, 0, 0); */
}

#divAddTask {
  margin-top: 30px;
}

.App {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* color: #ffffff; */
}

.todo__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}
.filtr_select {
  width: 105px;
}
.todo_quest {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  margin-top: 20px;
}

.form-label {
  margin-bottom: 2px;
  font-weight: bold;
}

.form-input {
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgb(100, 87, 87);
  border-radius: 8px;
}

.form-submit-button {
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  animation: rainbow-animation 5s linear infinite;
}

.form-submit-button:hover {
  background-color: #d44b11;
  animation: rainbow-animation 5s linear infinite;
}

.rr {
  width: 100%;
}

.filtr_select {
  margin-left: 10px;
  margin-bottom: 10px;
}
.game__container {
  border-radius: 8px;
  margin-top: 10px;
  max-width: 400px;
}
.btn {
  text-align: end;
  animation: rainbow-animation 5s linear infinite;
}

.gsl {
  text-align: center;
}

#add_task_btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  animation: rainbow-animation 5s linear infinite;
}
#btnEditTask:hover {
  color: #ffffff;
  transform: scale(1.8);
}
#btnDeleteTask:hover {
  color: #be4f4a;
  transform: scale(1.8);
}
#btnShowCalendar:hover {
  color: #ffffff;
  transform: scale(1.8);
}

#btnFinishTask {
  /* position:static;
display: flex;  */
  margin-right: 20px;
  animation: rainbow-animation 5s linear infinite;
  /* margin-top: 100px; */
}

@keyframes rainbow-animation {
  to {
    filter: hue-rotate(1deg);
  }
  from {
    filter: hue-rotate(360deg);
  }
}

.allElemOfTask {
  display: flex;
  justify-content: space-between;
  /* margin-right: 100px; */
}

#editDel {
  display: flex;
}

#edit_delete {
  position: absolute;
  margin-left: 200px;
}

/* _____________dark theme________________*/
html[data-theme='dark'] {
  background-color: #212124;
  .nav__container {
    box-shadow: 5px 5px 10px #f1d222;
  }

  #r {
    color: #ffffff;
  }
  .App {
    color: #ffffff;
  }
  .game__container {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.498);
    padding: 40px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  .themeButtons {
    background-color: rgba(255, 255, 255, 0.498);
  }

  #add_task_btn {
    background-color: #f1d222;
    color: #000000;
  }

  .form-submit-button {
    background-color: #f1d222;
    color: #000000;
    transition: box-shadow 1s;
    animation: rainbow-animation 5s linear infinite;
  }
  .form-submit-button:hover {
    background-color: #000000;
    box-shadow: 0px 0px 30px 0px #f1d222;
    animation: rainbow-animation 5s linear infinite;
  }
  .selectDiv {
    color: #ffffff;
  }
  .tt {
    color: #ffffff;
  }
}

/* ______________light theme_______________*/
html[data-theme='light'] {
  background-color: #ffffff;

  #r {
    color: #000000;
  }
  .App {
    color: #000000;
  }
  .game__container {
    border-radius: 8px;
    background-color: #78787a;
    padding: 40px;
    margin-bottom: 20px;
  }
  .selectDiv {
    color: #000000;
  }
  .title {
    max-width: 200px;
    word-wrap: break-word;
    font-size: larger;
  }
  #descript {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #description {
    max-width: 200px;
    word-wrap: break-word;
    font-size: medium;
  }
  .game__container {
    border-radius: 8px;
    background-color: #78787a;
    padding: 40px;
    margin-bottom: 20px;
    color: #000000;
  }
}
